<h2>Details</h2>
<div class="row">
   <div class="large-12 columns clearfix">
     <label class="left">{{content.name}}</label>
   </div>
 </div>

 <div class="row">
   <div class="large-12 columns">
    {{{model.body_html}}}
   </div>
 </div>
