<div class="row">
   <div class="large-2 columns">
      <ul class="side-nav">
        {{#each release in model}}
          <li> <a href="#" {{action "selectRelease" release on="click"}}>{{release.tag_name}} </a> </li>
        {{/each}}
      </ul>
   </div>

  <div class="large-10 columns end">
    {{outlet}}
  </div>
 </div>