<div class="row">
   <div class="large-2 columns">
      <ul class="side-nav">
        {{#each release in model}}
          <li>{{release.tag_name}} </li>
        {{/each}}
      </ul>
   </div>
 </div>